html {

    background-color: #FCC7BD;
}
img {

    width: 500px;
    height: 500px;
    border-color: white;
    border: solid;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-weight: <weight>;
    font-style: normal;
    font-size: 50px;
    color: #FFFFFF;
}

h2 {
    font-family: "Lobster", sans-serif;
    font-weight: <weight>;
    font-style: normal;
    font-size: 40px;
    color: #FFFFFF;
}


p {
    font-family: "Playfair Display", serif;
    font-weight: <weight>;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;

}

hr {
    border: none; 
    border-top: 1px dotted; 
    margin: 20px 0; /* Add some space above and below */
  }

  .container {
  width: 500px;
  margin: 0 auto;
}
