html {
    background-color: #74CFE8;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    color: #FFFFFF;
    padding: 10px 20px;
    background: #87D5FF;
    border-radius: 5px;
    border: 1px solid #87D5FF;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7);
 }

body {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background: url(../images/yournames.jpeg) no-repeat;
    background-size: 1600px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Headings */
h1, h2, li {
    font-family: 'Emilys Candy', sans-serif;
    color: #FFFFFF;
}

p {
    font-family: 'Chicle', sans-serif;
    color: #000000;
    text-align: center;
    font-size: 1.25em;
    margin-right: 30px;
}

/* Images */
img {
    display: inline-block;
}

.float-left {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

/* Containers */
.container, .container2 {
    padding: 20px;
    justify-content: center;
}

/* Optional specific heights */
.container { height: 900px; }
.container2 { height: 700px; }

/* Font Faces */
@font-face {
  font-family: 'Emilys Candy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/emilys-candy-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Chicle';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/chicle-v27-latin-regular.woff2') format('woff2');
}

/* Links */
a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a {
  -webkit-transition: -webkit-transform .5s,
                      background-color 1s ease-in .5s;
  transition: transform .5s,
              background-color 1s ease-in .5s;
}
nav a:hover {
    background-color: teal;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
}
@-webkit-keyframes logo {
  from {
    -webkit-transform: rotate(0) scale(.5);
    left: 120%;
  }
  50% {
    -webkit-transform: rotate(-720deg) scale(.5);
    left: 0;
  }

  to {
    -webkit-transform: rotate(0) scale(1);
  }

  form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}

form hr {
  width: 15%;
}
