html {
    background-color: #74CFE8;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

nav ul li {
    background-color: dodgerblue;
    padding: 10px;
}

body {
    width: 80%;
    padding: 20px;
    padding-top: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-image: url(../images/yournames.jpeg);
    background-repeat: no-repeat;
    background-size: 1400px;
}

h1 {
    font-family: Emilys Candy;
    color: #FFFFFF;
}

h2 {
    font-family: Emilys Candy;
    color: #FFFFFF;
}

p {
    font-family: Chicle;
    color: #000000;
    background-color: #FFFFFF;
    padding-right: 20px;
}

/* emilys-candy-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Emilys Candy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/emilys-candy-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* chicle-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Chicle';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/chicle-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.container {
    padding: 20px;
    size: 1000px;
}