/* styles.css */

* {
    font-family: Arial;
}

html {
    padding-top: 25px;
    background-image: url(images/pink-flowers.png);
} 

img {

    width: 500px;
    height: 350px;
    border-color: white;
    border: solid;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-weight: <weight>;
    font-style: normal;
    font-size: 50px;
    color: #000000;
}

h2 {
    font-family: "Lobster", sans-serif;
    font-weight: <weight>;
    font-style: normal;
    font-size: 40px;
    color: #000000;
}

h3 {
    font-family: "Lobster", sans-serif;
    font-weight: <weight>;
    font-style: normal;
    font-size: 40px;
    color: #000000;
}



p {
    font-family: "Playfair Display", serif;
    font-weight: <weight>;
    font-style: normal;
    font-size: 20px;
    color: #000000;

}

hr {
    border: none; 
    border-top: 1px dotted; 
    margin: 20px 0; /* Add some space above and below */
  }


.container {
  width: 500px;
  margin: 0 auto;
}

h1.intro {
    color: #F08080;
}